<form class="container-fluid">
    <div class="form-group container-list-group">
        <label for="widget-name">Name</label>
        <input type="text"
               class="form-control element-margin"
               id="widget-name"
               ng-model="model.widget.name"
               placeholder="Widget Name">

        <label for="widget-text">Text</label>
        <input type="text"
               class="form-control element-margin"
               id="widget-text"
               ng-model="model.widget.text"
               placeholder="video text">

        <label for="widget-url">URL</label>
        <input type="text"
               class="form-control element-margin"
               id="widget-url"
               ng-model="model.widget.url"
               placeholder="URL of the video">

        <label for="widget-width">Width</label>
        <input type="text"
               class="form-control element-margin"
               id="widget-width"
               ng-model="model.widget.width"
               placeholder="Width of the video (e.g. 100%)">

        <input class="form-control btn btn-danger element-margin"
               type="button"
               ng-show="model.widgetId"
               ng-click="model.deleteWidget()"
               value="Delete">
    </div>
</form>
