<form class="container-fluid">
    <div class="form-group container-list-group">
        <label for="widget-name">Name</label>
        <input type="text"
               class="form-control element-margin"
               id="widget-name"
               ng-model="model.widget.name"
               placeholder="Widget Name">

        <label for="widget-text" class="element-margin">Text</label>
        <input type="text"
               class="form-control element-margin"
               id="widget-text"
               ng-model="model.widget.text"
               placeholder="Text value in the input field">

        <label for="widget-placeholder" class="element-margin">Place holder</label>
        <input type="text"
               class="form-control element-margin"
               id="widget-placeholder"
               ng-model="model.widget.placeholder"
               placeholder="Placeholder for input form">

        <label class="element-margin" for="widget-rows">Rows</label>
        <input type="text"
               class="form-control element-margin"
               id="widget-rows"
               ng-model="model.widget.rows"
               placeholder="How big you want your input form to be">

        <label class="element-margin">Formatted</label>
        <div class="input-group element-margin">
            <span class="input-group-addon">
              <input ng-model="model.widget.formatted" id="widgetFormat" type="checkbox"/>
            </span>
            <input type="text" class="form-control" value="Formatted (Should input form have text editing tools?)" aria-describedby="widgetFormat" disabled/>
        </div>

        <input class="form-control btn btn-danger element-margin"
               type="button"
               ng-show="model.widgetId"
               ng-click="model.deleteWidget()"
               value="Delete">
    </div>
</form>
