input.form-control {
    margin-bottom: 5px;
}

body {
    padding-top: 36px;
}

.container-list-group {
    margin-top: 30px;
}

.group-item-wslist {
    margin-left: 4%;
    margin-right: 0.5%;
}

.right-most-footer{
    padding-right: 15px; !important;
}