.register-login-button {
    margin-top: 10px;
    cursor: pointer !important;
}

.inner-container{
    margin: 0 0 0 0;
    height: 0px;
    z-index: 999;
}

.btn {
    cursor: pointer;
}

th {
    text-align: left;
}

.td-center {
    text-align: center;
}

.override-upbtn {
    color: #fff;
    background-color: #007bff;
    border-color: green;
    border-width: 2px;
}

.override-upbtn:hover {
    background-color: #0069ff;
    border-color: green;
    border-width: 2px;
}

.override-upbtn:active {
    background-color: transparent;
    border-color: green;
    color: blue;
    border-width: 2px;
}

.override-downbtn {
    color: #fff;
    background-color: #dc3545;
    border-color: green;
    border-width: 2px;
}

.override-downbtn:hover {
    background-color: #c41c2d;
    border-color: green;
    border-width: 2px;
}

.override-downbtn:active {
    background-color: transparent;
    border-color: green;
    color: red;
    border-width: 2px;
}

.navbar-menus {
    margin-left: 5px;
    margin-right: 5px;
}

.post-search-bar {
    margin: 0px;
    padding-right: 35px;
}

.table-border {
    border-width: 1px;
}

a.logo {
    font-family: 'Permanent Marker', 'cursive';
    color: orange !important;
}

a.logo:hover {
    text-decoration: none;
}

.board-headings {
    padding-top: 15px;
    text-align: left;
    font-family: 'Oxygen', 'sans-serif';
    font-weight: bold;
}

.board-subheadings {
    padding-top: 10px;
    padding-left: 10px;
    font-family: 'Oswald', 'sans-serif';
    padding-bottom: 10px;
    margin-top: 10px;
}

a.board-subheadings {
    color: #343d4c;
}

.card-block {
    margin-top: auto;
}

.card-padding {

}

h1 {
    font-family: 'Oswald', 'sans-serif';
    margin-top: 5px;
}

p.post-info {
    padding-left: 30px;
    margin-bottom: -5px;
}

p.post-tags {
    margin-bottom: 2px;
    padding-left: 10px;
    margin-right: 20px;
}

.tb-data-row {
    margin: 1px;
    padding-right: 1px;
}


.vote-container {
    margin: 0 auto;
}

.tags-badge {
    glyph-orientation-horizontal: center;
}

.home-icons {
    width: 300px;
    height: 300px;
    background: url(http://i.imgur.com/qnF4ikc.png?1);
    background-color: lightgrey;
}

.home-boxes {
    /*max-width: 75%;*/
}

#adminErrorMsg {
    color: red;
    font-size: 15px;
    font-weight: bold;
}

#admin-delete {
    color: red;
    margin-left: 15px;
}

.thread-score {
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
}

.post-container {
    display: inline-grid;
}

.post-content-container {
    border: 2px solid white;
    padding: 10px;
    margin: 8px;
    background-color: #e3e5ea;
}

.minified-table thead .table-component-row {
    padding-left: 15px;
    padding-right: 15px;
}


.row.home-boxes {
    display: block;
    margin: 0 auto;
}

.endorse-button-lg {
    margin-left: 5px;
}

right {
    float:right;
    text-align: right;
}

.media.board-listing {
    border: 2px solid lightslategray;
}

@media (min-width:600px) { .home-boxes { max-width: 75% !important;}
    .post-container { max-width: 80% !important; }
    .all-comments-container { max-width: 80% !important; }}

@media (max-width:600px) {
    h1.profile-header { font-size: 40px; }
    .edit-icon { font-size: 15px; }
}

.navbar-nav {
    flex-direction: row;
}

.comment-container {
    /*border: 1px double lightslategray;*/
    background-color: #c3cadb;
    padding: 3px;
    margin-bottom: 5px;
}

/*.btn-outline-success {*/
    /*font-family: 'Raleway', 'sans-serif' !important;*/
/*}*/

body {
    background-color: #dce0e8;
    font-family: 'Raleway', 'sans-serif';
}

.pull-left {
    float: left;
}

.pull-right {
    float:right;
}

.profile-header .display-2 {
    font-size: 2em;
}

.profile-header {
    font-family: 'Anton', 'sans-serif';
    text-transform: uppercase;
    padding: 10px;
    padding-bottom: 0px;
}

#profile-authenticate-button {
    padding-bottom: 0px;
    margin-bottom: 20px;
    margin-left: 14px;
    display: block;
}

.blizzard-button {
    background-color: #00b4ff;
}

.blizzard-button:hover {
    background-color: #0098ff;
}

.blizzard-button:active {
    background-color: #008cff;
}

.profile-battlenet {
    padding-top: 0px; !important
}

h3.profile-header {
    text-transform: lowercase;
    opacity: .7;
    margin-bottom: 20px;
}

.profile-info-elements {
    margin-top: 10px;
}

.profile-icon {
    background-color: darkslategray;
    box-shadow: 5px 5px 3px grey;
    margin: 22px;
    margin-left: 0px;
    color: white;
    font-size: 80px;
    padding: 5px;
}

.comment-icon {
    background-color: darkslategray;
    margin: 15px;
    color: white;
    font-size: 30px;
    padding: 5px;
}

#profile-edit {
    margin-top: 10px;
}

#profile-save {
    margin-top: 10px;
}

.edit-icon {
    font-size: 2em;
    padding-right: 20px;
}

.minified-table {
    padding: 0px;
    margin-left: 8px;
    margin-right: 8px;
}

.home-table {
    padding: 0px;
    margin-top: 15px;
    margin-bottom: 50px; !important;
}

/* HERE'S MY NEW CSS THAT I ADDED AFTER WHATEVER PUSH IDK */


@media (min-width:600px) {
    .profile-edit-container { max-width: 75% !important;}
    .posts-table{ max-width: 75%; }
    .home-table{ max-width: 75%;}
}

.profile-edit-container {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
}

.profile-edit-headings {
    margin-top: 10px;
}

/*@media only screen and (max-width: 800px) {*/
/*#unseen table td:nth-child(2),*/
/*#unseen table th:nth-child(2) {display: none;}*/
/*}*/

/*@media only screen and (max-width: 600px) {*/
/*#unseen table td:nth-child(4),*/
/*#unseen table th:nth-child(4),*/
/*#unseen table td:nth-child(7),*/
/*#unseen table th:nth-child(7),*/
/*#unseen table td:nth-child(8),*/
/*#unseen table th:nth-child(8) {*/
/*display: none;*/
/*}*/
/*}*/

/*\
 * Restore Bootstrap 3 "hidden" utility classes.
\*/

/* Breakpoint XS */
@media (max-width: 575px)
{
    .hidden-xs-down, .hidden-sm-down, .hidden-md-down, .hidden-lg-down, .hidden-xl-down,
    .hidden-xs-up,
    .hidden-unless-sm, .hidden-unless-md, .hidden-unless-lg, .hidden-unless-xl
    {
        display: none !important;
    }

}

/* Breakpoint SM */
@media (min-width: 576px) and (max-width: 767px)
{
    .hidden-sm-down, .hidden-md-down, .hidden-lg-down, .hidden-xl-down,
    .hidden-xs-up, .hidden-sm-up,
    .hidden-unless-xs, .hidden-unless-md, .hidden-unless-lg, .hidden-unless-xl
    {
        display: none !important;
    }
}

/* Breakpoint MD */
@media (min-width: 768px) and (max-width: 991px)
{
    .hidden-md-down, .hidden-lg-down, .hidden-xl-down,
    .hidden-xs-up, .hidden-sm-up, .hidden-md-up,
    .hidden-unless-xs, .hidden-unless-sm, .hidden-unless-lg, .hidden-unless-xl
    {
        display: none !important;
    }
}

/* Breakpoint LG */
@media (min-width: 992px) and (max-width: 1199px)
{
    .hidden-lg-down, .hidden-xl-down,
    .hidden-xs-up, .hidden-sm-up, .hidden-md-up, .hidden-lg-up,
    .hidden-unless-xs, .hidden-unless-sm, .hidden-unless-md, .hidden-unless-xl
    {
        display: none !important;
    }
}

/* Breakpoint XL */
@media (min-width: 1200px)
{
    .hidden-xl-down,
    .hidden-xs-up, .hidden-sm-up, .hidden-md-up, .hidden-lg-up, .hidden-xl-up,
    .hidden-unless-xs, .hidden-unless-sm, .hidden-unless-md, .hidden-unless-lg
    {
        display: none !important;
    }
}

.posts-table {
    margin: 0 auto;
}

.posts-headings {
    margin-left: 10%;
}

.board-content {
    padding: 10px;
}

.board-edit-button {
    margin-left : 10px;
}

.tags-search {
    margin-left: 9%;
}

.ta-editor {
    min-height: 300px;
    height: auto;
    overflow: auto;
    font-family: inherit;
    font-size: 100%;
    margin: 20px 0;
}

text-angular .popover {
    display: none;
}

.edit-icon-comment {
    font-size: 1.4em;
    margin-top: 0px;
    padding: 5px;
    float: right;
}

a:hover {
    text-decoration: none;
    color: #93a7c6;
}

a {
    color: #68778e;
}

h5.score-badge {
    line-height: .5;
}