<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<script
        src="https://code.jquery.com/jquery-3.2.1.js"
        integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

<script>
    (function () {



        $(document).ready(function () {
            var elem = '<div><a href="google.com">google</a></div>';
            $('#pop').popover({
                animation:true,
                content:elem
            });

            var elem = '<div>asdfasdf</div>';

            $('#pop').popover({
                content: elem
            });
        });
    })();
</script>

<body>

<div class="container-fluid">
    <button id="pop" type="button" data-html="true" class="btn btn-lg btn-danger" data-toggle="popover" title="Tags" data-trigger="click">Click to toggle popover</button>
</div>

</body>
</html>