<div>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="row">
                <div class="navbar-header col-xs-12">
                    <p class="navbar-text pull-left col-2">
                        <a href="#!/user/{{model.userId}}/website"
                           class="navbar-link">
                            <span class="glyphicon glyphicon-chevron-left">
                            </span>
                        </a>
                    </p>
                         <a class="navbar-brand col-8" href="">
                            Pages
                        </a>
                    <p class="navbar-text pull-right col-2">
                        <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/new" class="navbar-link">
                            <span class="glyphicon glyphicon-plus">
                            </span>
                        </a>
                    </p>
                </div>
            </div>
            </div>
    </nav>

    <div class="container-fluid container-list-group list-group">
        <div ng-include src="'views/page/page-list.component.client.html'"></div>
    </div>

    <div class="nav-footer"></div>
    <nav class="navbar navbar-default navbar-fixed-bottom">
                <span class="col-9"></span>
                <div class="navbar-text col-3 pull-right">
                        <div class=" ">
                            <a href="../user/profile.view.client.html">
                                <span class="right-most-footer glyphicon glyphicon-user"></span>
                            </a>
                        </div>
                </div>
    </nav>
</div>
