
<overhub-navbar></overhub-navbar>
<h1 class="text-left posts-headings">Available Boards</h1>
    <a ng-show="model.user.role === 'ADMIN'" class="btn btn-outline-success posts-headings" href="#!/boards/new"><i class="fa fa-plus" aria-hidden="true"></i> Create A New Board</a>
<hr/>

<div id="boardList" class="card-deck w-75 mx-auto">
    <div class="card" ng-repeat="board in model.boards">
        <img class="card-img-top img-responsive" src="{{board.bannerUrl}}">
        <div class="card-block board-content">
            <h4 class="card-title">{{board.name}}</h4>
            <p class="card-text">{{board.description}}</p>
            <div class="">
                <a href="#!/boards/{{board._id}}" class="btn btn-success col-sm-5 col-lg-10 col-md-8">Go!</a>
                <a ng-show="model.user.role === 'ADMIN'"
                   href="#!/boards/{{board._id}}/edit">
                    <span class="edit-icon pull-right" class="board-edit-button col-sm-1"><i class="fa fa-pencil" aria-hidden="true"></i></span>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="card-deck w-75 mx-auto">
</div>