<!--<head>-->
    <!--<meta charset="UTF-8">-->
    <!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
    <!--<title>WebDev</title>-->
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">-->
    <!--<link rel="stylesheet" href="css.css">-->
    <!--<link href="https://fonts.googleapis.com/css?family=Permanent+Marker|Oswald|Raleway|Oxygen|Anton" rel="stylesheet">-->
    <!--<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>-->
    <!--<script src="stuff.js"></script>-->
    <!--<link rel="stylesheet" href="./dist/ohi_font.css">-->
    <!--<link rel="stylesheet" href="style2.css">-->
    <!--<link rel="stylesheet" href="https://npmcdn.com/react-bootstrap-table/dist/react-bootstrap-table.min.css">-->


    <!--<script src="../controllers/boards-list.controller.client.js"></script>-->
    <!--<script src="../../../services/board.service.client.js"></script>-->

    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>-->
    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>-->
    <!--<script src="https://use.fontawesome.com/2e48185324.js"></script>-->

<!--</head>-->
<overhub-navbar></overhub-navbar>
<h1 class="text-left posts-headings">Available Boards</h1>
<a class="btn btn-outline-secondary posts-headings" href="#!/boards/new"><i class="fa fa-plus" aria-hidden="true"></i> Create A New Board</a>
<hr/>

<div id="boardList" class="card-deck w-75 mx-auto">
    <div class="card" ng-repeat="board in model.boards">
        <img class="card-img-top img-responsive" src="{{board.bannerUrl}}">
        <div class="card-block board-content">
            <h4 class="card-title">{{board.name}}</h4>
            <p class="card-text">{{board.description}}</p>
            <a href="#!/boards/{{board._id}}" class="btn btn-primary">Go!</a>
            <a ng-show="!model.user.isAdmin" href="#!/boards/{{board._id}}/edit"><span class="edit-icon pull-right"><i class="fa fa-pencil" aria-hidden="true"></i></span></a>

        </div>
    </div>
</div>

<div class="card-deck w-75 mx-auto">
    <!--<div class="card">-->
        <!--<img class="card-img-top img-responsive" src="https://t13.deviantart.net/-oN-CImm1XdZ2SuYV0nsdTPg2dw=/fit-in/700x350/filters:fixed_height(100,100):origin()/pre06/a97f/th/pre/f/2017/004/5/f/overwatch_vector_wallpaper___d_va_by_choren64-daa3jld.jpg">-->
        <!--<div class="card-block board-content">-->
            <!--<h4 class="card-title">VOD Reviews</h4>-->
            <!--<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
            <!--<a href="#" class="btn btn-primary">Go somewhere</a>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="card">-->
        <!--<img class="card-img-top img-responsive" src="https://t06.deviantart.net/4ApwYGAR2JubQCwrHbySz4GYSzE=/fit-in/700x350/filters:fixed_height(100,100):origin()/pre05/8ddd/th/pre/f/2017/004/c/a/overwatch_vector_wallpaper___lucio_by_choren64-daa3kcm.jpg">-->
        <!--<div class="card-block board-content">-->
            <!--<h4 class="card-title">Discussion & Feedback</h4>-->
            <!--<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
            <!--<a href="#" class="btn btn-primary">Go somewhere</a>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="card">-->
        <!--<img class="card-img-top img-responsive" src="https://t13.deviantart.net/-oN-CImm1XdZ2SuYV0nsdTPg2dw=/fit-in/700x350/filters:fixed_height(100,100):origin()/pre06/a97f/th/pre/f/2017/004/5/f/overwatch_vector_wallpaper___d_va_by_choren64-daa3jld.jpg">-->
        <!--<div class="card-block board-content">-->
            <!--<h4 class="card-title">VOD Reviews</h4>-->
            <!--<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
            <!--<a href="#" class="btn btn-primary">Go somewhere</a>-->
        <!--</div>-->
    <!--</div>-->
</div>

<!--<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>-->
<!--<script src="stuff.js"></script>-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>-->
<!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>-->