<form class="container-fluid">
    <div class="form-group container-list-group">
        <label for="widget-name">Name</label>

        <input type="text"
               class="form-control element-margin"
               id="widget-name"
               ng-model="model.widget.name"
               placeholder="Widget Name">

        <label for="widget-text">HTML Content</label>

        <div text-angular class="element-margin"
             ng-model="model.widget.text"
             ta-toolbar="[['h1','h2','h3'], ['bold','italics','underline','strikeThrough'], ['ul','ol'],['justifyLeft', 'justifyCenter', 'justifyRight','justifyFull'], ['insertImage', 'insertLink', 'insertVideo'], ['html'], ['wordcount', 'charcount']]"
             placeholder="Create your html content or paste pre-formatted html. Click </> to access raw html element"></div>


        <input class="form-control btn btn-danger element-margin"
               type="button"
               id="widget-text"
               ng-show="model.widgetId"
               ng-click="model.deleteWidget()"
               value="Delete">
    </div>
</form>

