<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="row">
            <div class="navbar-header col-xs-12">
                <p class="navbar-text pull-left col-2">
                    <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/{{model.widgetId}}"
                       class="navbar-link">
                            <span class="glyphicon glyphicon-chevron-left">
                            </span>
                    </a>
                </p>
                <a class="navbar-brand col-8" href="">
                    Image Search
                </a>
            </div>
        </div>
    </div>
</nav>

<div class="input-group container-list-group search-bar">
    <input ng-model="searchText" type="text" class="form-control">
    <span class="input-group-btn">
        <a ng-click="model.searchPhotos(searchText)" class="btn btn-default" type="button">
            <span class="glyphicon glyphicon-search"></span>
        </a>
    </span>
</div>


<div class="nav-footer"></div>
<nav class="navbar navbar-default navbar-fixed-bottom">
    <span class="col-9"></span>
    <div class="navbar-text col-3 pull-right">
        <div class=" ">
            <a href="#!/profile/{{model.userId}}">
                <span class="right-most-footer glyphicon glyphicon-user"></span>
            </a>
        </div>
    </div>
</nav>