 <form class="container-fluid">
    <div class="form-group container-list-group">
        <label for="widget-name">Name</label>

        <input type="text"
               class="form-control element-margin"
               id="widget-name"
               ng-model="model.widget.name"
               placeholder="Widget Name">

        <label for="widget-text">Text</label>

        <input type="text"
               class="form-control element-margin"
               id="widget-text"
               ng-model="model.widget.text"
               placeholder="Title text">

        <label for="widget-size">Size</label>

        <input type="text"
               class="form-control element-margin"
               id="widget-size"
               ng-model="model.widget.size"
               placeholder="Size of the title">

        <input class="form-control btn btn-danger element-margin"
               type="button"
               ng-show="model.widgetId"
               ng-click="model.deleteWidget()"
               value="Delete">
    </div>
 </form>
