<div class="container-fluid" ng-controller="loginController">
    <div class="alert alert-info" ng-show="welcomeUser">
        Welcome back {{welcomeUser.username}}
    </div>
    <h1>Login</h1>
    <input type="text"
           class="form-control"
           ng-model="user.username"
           placeholder="username"/>
    <input type="password"
           class="form-control"
           ng-model="user.password"
           placeholder="password"/>
    <a class="btn btn-primary btn-block"
       ng-click="login(user)"
       href="#">Login</a>
    <a class="btn btn-success btn-block"
       href="register.view.client.html">Register</a>
</div>
