<div>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="row">
                <div class="navbar-header col-xs-12">
                    <p class="navbar-text pull-left col-2">
                        <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/"
                           class="navbar-link">
                            <span class="glyphicon glyphicon-chevron-left">
                            </span>
                        </a>
                    </p>
                         <a class="navbar-brand col-8" href="">
                            Choose Widget
                        </a>
                </div>
            </div>
            </div>
    </nav>


    <div class="container-fluid container-list-group list-group">
        <p class="list-group-item group-item-wslist">
            <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/heading/new">
                Header
            </a>
        </p>
        <p class="list-group-item group-item-wslist">
            <a href="">
                Label
            </a>
        </p>
       <p class="list-group-item group-item-wslist">
            <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/html/new">
                HTML
            </a>
        </p>
       <p class="list-group-item group-item-wslist">
            <a href="">
                Text Input
            </a>
        </p>
       <p class="list-group-item group-item-wslist">
            <a href="">
                Link
            </a>
        </p>
       <p class="list-group-item group-item-wslist">
            <a href="">
                Button
            </a>
        </p>
       <p class="list-group-item group-item-wslist">
            <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/image/new">
                Image
            </a>
        </p>
       <p class="list-group-item group-item-wslist">
            <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/youtube/new">
                Youtube
            </a>
        </p>
       <p class="list-group-item group-item-wslist">
            <a href="">
                Data Table
            </a>
        </p>
       <p class="list-group-item group-item-wslist">
            <a href="">
                Repeater
            </a>
        </p>
    </div>

    <div class="nav-footer"></div>
    <nav class="navbar navbar-default navbar-fixed-bottom">
                <span class="col-9"></span>
                <div class="navbar-text col-3 pull-right">
                        <div class=" ">
                            <a href="../user/profile.view.client.html">
                                <span class="right-most-footer glyphicon glyphicon-user"></span>
                            </a>
                        </div>
                </div>
    </nav>
</div>
