
<overhub-navbar></overhub-navbar>
<div class="container-fluid post-container">
    <div class="row justify-content-between">
        <div class="col-10">
        <h1 class="board-subheadings">{{model.post.title}}</h1>
        <h4 class="thread-score align-text-bottom"><span class="badge badge-info">{{model.post.score ? model.post.score : 0}}</span>
            <span class="badge badge-warning badge-pill" ng-show="model.post.isEndorsed">Coach Endorsed</span></h4></div>
        <div class="col-2">
        <a ng-show="model.currUser.role === 'ADMIN' || model.user.username === model.currUser.username" href="#!/boards/{{model.post._board}}/post/{{model.post._id}}/edit"><span class="edit-icon pull-right"><i class="fa fa-pencil" aria-hidden="true"></i></span></a>
        <a href="" ng-click="model.savePost()" ng-show="model.currUser != null"><span class="edit-icon pull-right"><i class="fa fa-star" aria-hidden="true"></i></span></a>
        </div>
            <!--<span ng-click="model.savePost()"><a class="text-right pull-right">-->
            <!--<i class="fa fa-star" aria-hidden="true"></i></a></span>  -->
    </div>
    <div class="row">
        <p class="post-info">by <a href="#!/profile/{{model.user.username}}">{{model.user.nickname}}</a>
            <img src="{{model.rankIcon}}" width="25" height="25">
            {{model.post.dateCreated | date: 'dd/MM/yyyy'}}</p>
    </div>
    <div class="post-content-container rounded">
        <div ta-bind ng-model="model.post.content"></div>
    </div>
    <div class="row vote-container">
        <div class="btn-group" role="group">
            <button id="voteUpBtn" ng-click="model.votePost(true)" class="btn btn-outline-primary btn-large ">
                <i class="fa fa-arrow-circle-up" aria-hidden="true"></i>  Upvote Post
            </button>
        <button id="voteDownBtn" ng-click="model.votePost(false)"
                class="btn btn-outline-danger vote-button-lg " data-toggle="button" aria-pressed="false"  href="#">
            Downvote Post <i class="fa fa-arrow-circle-down" aria-hidden="true"></i></button>
        </div>
        <a ng-show="model.currUser.role === 'COACH' && !model.post.isEndorsed" class="btn btn-outline-info endorse-button-lg" data-toggle="button" aria-pressed="false"  ng-click="model.endorsePost()">
            Endorse Post <i class="fa fa-check-circle" aria-hidden="true"></i></a>
    </div>
</div>


    <div class="container-fluid all-comments-container pull-left">
    <div class="row form-group">
        <label for="description">New Comment</label>
        <textarea class="form-control"
                  name="description"
                  rows="5"
                  ng-model="model.post.tempComment"
                  placeholder="Comment here..."></textarea>
        <a class="btn btn-secondary" data-toggle="button" aria-pressed="false"  ng-click="model.addComment(model.post.tempComment)"">
            Submit <i class="fa fa-check" aria-hidden="true"></i></a>
    <!--</div>-->
    <!--<div class="comment-container rounded">-->
        <!--<span style="float: right; margin-bottom: 5px;">-->
            <!--<span class="badge badge-info">50</span>-->
            <!--<a class="text-right">-->
            <!--<i class="fa fa-plus" aria-hidden="true"></i>-->
            <!--<i class="fa fa-minus" aria-hidden="true"></i></a></span>-->
        <!--<div class="media">-->
            <!--<img class="d-flex mr-3" src="http://dcmjs.com/overwatch/images/icon/OW-icon_genji.svg"-->
                 <!--width="45" height="45" alt="genji">-->
            <!--<div class="media-body">-->
                <!--<h5 class="mt-0">genjilvr420</h5>-->
                <!--<p>those plays r sik</p>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="comment-container rounded">-->
        <!--<span style="float: right; margin-bottom: 5px;"><a class="text-right">-->
            <!--<i class="fa fa-star" aria-hidden="true"></i> Save</a></span>-->
        <!--<div class="media">-->
            <!--<img class="d-flex mr-3" src="http://dcmjs.com/overwatch/images/icon/OW-icon_genji.svg"-->
                 <!--width="45" height="45" alt="genji">-->
            <!--<div class="media-body">-->
                <!--<h5 class="mt-0">genjilvr420</h5>-->
                <!--<p>honestly u suk</p>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    </div>
        <h3 class="board-subheadings">Comment Section</h3>
        <div ng-repeat="comment in model.comments">
        <comments-component></comments-component>
        </div>
    </div>

