<div class="container-fluid">
    <div class="alert alert-danger" ng-show="model.errorMessage">
        {{model.errorMessage}}
    </div>
    <h1>Login</h1>
    <input type="text"
           class="form-control"
           ng-model="model.user.username"
           placeholder="username"/>
    <input type="password"
           class="form-control"
           ng-model="model.user.password"
           placeholder="password"/>
    <a href="/login/auth/google" class="btn btn-danger btn-block">
        <span class="fa fa-google-plus"></span>
        Google
    </a>
    <a class="btn btn-primary btn-block"
       ng-click="model.login(model.user)">Login</a>
    <a class="btn btn-success btn-block"
       href="#!/register">Register</a>
</div>


