<script>
    (function () {
        //$('#loginRegisterModal').modal('show');

        var tagPopoverContent = "<div><a href='google.com'>#google</a>, " +
            "<a href='facebook.com'>#facebook</a>, <a href='blizzard.com'>blizzard</a>, " +
            "<a href='blizzard.com'>#overwatch</a></div>";

        $(document).ready(function () {
            $('#tags-badge').popover({
                placement: 'left',
                animation: true,
                html: true,
                content: tagPopoverContent
            });
        })
    })();
</script>
<overhub-navbar></overhub-navbar>

<div class="container-fluid">
  <div class="row home-boxes align-items-center">
    <h3 class="board-headings">Boards</h3>
  </div>
  <div class="row home-boxes align-items-center">
    <recent-posts-component></recent-posts-component>
  </div>
  <div class="row home-boxes align-items-center">
    <hr/>
    <h3 class="board-headings">Popular Posts</h3>
  </div>
  <div class="row home-boxes align-items-center home-table" style="margin-bottom: 50px;">
        <post-list-component class="align-items-center"></post-list-component>
  </div>


</div>