<h3 class="board-subheadings">Comment Section</h3>
<div ng-repeat="comment in model.comments">
<div class="comment-container rounded">
        <span style="float: right; margin-bottom: 5px;">
            <span class="badge badge-info">50</span>
            <a class="text-right">
            <i class="fa fa-plus" aria-hidden="true"></i>
            <i class="fa fa-minus" aria-hidden="true"></i></a></span>
    <div class="media">
        <span class="ohi-ana comment-icon"></span>
        <div class="media-body">
            <h5 class="mt-0">{{comment._user.username}}</h5>
            <p>{{comment.content}}</p>
        </div>
    </div>
</div>
</div>