<div class="posts-table col-12">
    <table class="table dt-responsive table-striped">
        <thead class="thead-inverse">
        <tr class="row col-12">
            <th class="col-2 col-md-1">Score</th>
            <th class="col-8 col-md-4">Title</th>
            <th class="hidden-sm-down col-md-1">Tags</th>
            <th class="col-2 col-md-2">Date</th>
            <th class="hidden-sm-down col-md-3">Poster</th>
            <th class="hidden-sm-down col-md-1">Comments</th>
        </tr>
        </thead>
        <tbody>
        <tr class="row col-12" ng-repeat="post in model.posts">
            <td class="col-2 col-md-1">{{post.votes}}</td>
            <td class="col-8 col-md-4"><a href="#!/boards/{{post._board}}/post/{{post._id}}">{{post.title}}</a></td>
            <td class="hidden-sm-down col-md-1"><span class="badge badge-pill badge-warning" data-toggle="popover" data-trigger="click"
                                                      title="Tags" id="tags-badge">
            <!--<th class="col-xs-1"><button class="btn btn-outline-success" data-toggle="popover" data-trigger="click"-->
                <!--title="Tags" id="tags-badge">-->
                {{post.tags.length}}</span></td>
            <td class="col-2 col-md-2">{{post.dateCreated  | date: 'dd/MM/yyyy'}}</td>
            <td class="hidden-sm-down col-md-3">{{post._user.username}}</td>
            <td class="hidden-sm-down col-md-1">{{post.comments.length}}</td>

        </tr>

        </tbody>
    </table>
</div>