<ul class="list-unstyled">
    <li class="media board-listing">
        <img class="home-icons hidden-md-down img-responsive" src="https://68.media.tumblr.com/avatar_4ec60cf6b72c_128.png">
        <div class="media-body">
            <h5 class="board-subheadings">Genju Board</h5>
            <div class="">
                <div class="minified-table">
                    <table class="table-border table dt-responsive table-striped">
                        <thead class="thead-inverse">
                        <tr class="row col-12 table-component-row">
                            <th class="col-2">Score</th>
                            <th class="col-6">Title</th>
                            <th class="col-4">Date</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="row col-12 table-component-row" ng-repeat="post in model.posts">
                            <td class="col-2 td-center">{{post.score}}</td>
                            <td class="col-6"><a href="#!/boards/{{post._board}}/post/{{post._id}}">{{post.title}}</a></td>
                            <td class="col-4">{{post.dateCreated  | date: 'dd/MM/yyyy'}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </li>
</ul>

