<div class="posts-table post-search-bar col-12">
    <div class="input-group container-list-group">
        <input ng-model="searchText" type="text" class="form-control" placeholder="Type Battle tag (e.g. Alblanca#1581)">
        <span class="input-group-btn">
                      <a ng-click="model.searchUser(searchText)"
                         class="btn btn-default"
                         type="button">
                         <i class="fa fa-search" aria-hidden="true"></i>
                        </a>
                </span>
    </div>
</div>